{% extends 'base.html' %}
{% load static %}
{% block title %}定时任务{% endblock %}

{% block content %}
    <form action="{% url 'main_platform:project' %}" method="POST">
        {% csrf_token %}
        <input style="margin-left: 5px;" type="text" name="proj_name" value="{{ proj_name }}" placeholder="输入任务名称">
        <input type="submit" value="搜索">
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>任务名称</th>
                <th>执行时间</th>
                <th>任务提交人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for project in pages %}
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>
                        <a href="#"><button class="btn-success">开启</button></a>
                        <a href="#"><button class="btn-danger">删除</button></a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="pages" class="text-center">
        <nav>
            <ul class="pagination">
                <li class="step-links">
                    {% if pages.has_previous %}
                        <a class='active' href="?page={{ pages.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        第 {{ pages.number }} 页 / 共 {{ pages.paginator.num_pages }} 页</span>

                    {% if pages.has_next %}
                        <a class='active' href="?page={{ pages.next_page_number }}">下一页</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
